extends __Layout/main

block content
    .container.my-5.pt-4
        h1 Error 500 - Error interno del servidor
        p Lo sentimos, ha ocurrido un error en el servidor.
        p Por favor, haz clic en el logo para volver a la página principal.
