extends __Layout/main

block content
    .container.my-5.pt-4
        h1 Error 404 - P치gina no encontrada
        p Lo sentimos, la p치gina que buscas no est치 disponible o ha sido movida.
        p Por favor, has click en el logo para volver a la p치gina principal.
        