extends ../__layout/main

block content
  .container.mt-4
    h1.mb-4 游댌 B칰squeda de Lotes

    // Filtros de b칰squeda
    .card.mb-4
      .card-body
        .row.g-3
          .col-md-3
            .form-floating
              input.form-control#inputNumLote(type="search" placeholder="" autofocus)
              label.form-label(for="inputNumLote") N춿 Lote
          .form-floating.col-md-3
            select.form-select(
                    id="id_laboratorio"
                    name="id_laboratorio"
                    required
                )
                    option(value="" disabled selected) Seleccione un laboratorio 
                    each laboratorio in laboratorios
                        option(value=laboratorio.id)= laboratorio.nombre
            label.form-label(for="id_laboratorio") Seleccione un Laboratorio

          .form-floating.col-md-3
            input.form-control#inputTipoVacuna(type="search" placeholder="")
            label.form-label(for="inputTipoVacuna") Tipo de Vacuna

          .form-floating.col-md-3
            input.form-control#inputNombreComercialVacuna(type="search" placeholder="")
            label.form-label(for="inputNombreComercialVacuna") Nombre Comercial de Vacuna

          .form-floating.col-md-3
            select.form-select#inputFechaCompraMes
              option(value="" disabled selected) Seleccione mes
              option(value="1") Enero
              option(value="2") Febrero
              option(value="3") Marzo
              option(value="4") Abril
              option(value="5") Mayo
              option(value="6") Junio
              option(value="7") Julio
              option(value="8") Agosto
              option(value="9") Septiembre
              option(value="10") Octubre
              option(value="11") Noviembre
              option(value="12") Diciembre
            label.form-label(for="inputFechaCompraMes") Mes de Compra
          
          .form-floating.col-md-3
            input.form-control#inputFechaCompraAnno(type="text" min="2000" max="2100" placeholder="")
            label.form-label(for="inputFechaCompraAnno") A침o de Compra
          
          .form-floating.col-md-3
            select.form-select#inputFechaVencMes
              option(value="" disabled selected) Seleccione mes
              option(value="1") Enero
              option(value="2") Febrero
              option(value="3") Marzo
              option(value="4") Abril
              option(value="5") Mayo
              option(value="6") Junio
              option(value="7") Julio
              option(value="8") Agosto
              option(value="9") Septiembre
              option(value="10") Octubre
              option(value="11") Noviembre
              option(value="12") Diciembre
            label.form-label(for="inputFechaVencMes") Mes de Vencimiento
          
          .form-floating.col-md-3
            input.form-control#inputFechaVencAnno(type="text" min="2000" max="2100" placeholder="")
            label.form-label(for="inputFechaVencAnno") A침o de Vencimiento
          
        .d-flex.justify-content-end.mt-3
          button#btnBuscar.btn.btn-primary Buscar
          button#btnLimpiar.btn.btn-secondary(style="margin-left: 10px;")
            i.bi.bi-x-circle.me-2
            | Limpiar

    // Resultados de b칰squeda
    .table-responsive
      table.table.table-striped.table-hover.align-middle
        thead.table-dark
          tr
            th(scope='col') N춿 Lote
            th(scope='col') Laboratorio
            th(scope='col') Tipo de Vacuna
            th(scope='col') Nombre Comercial
            th(scope='col') Fecha de Compra
            th(scope='col') Fecha de Fabricaci칩n
            th(scope='col') Fecha de Vencimiento
            th(scope='col') Acciones
        tbody#resultadosBusqueda

    // Contenedor para paginaci칩n
    #paginacionContainer.d-flex.justify-content-center.mt-4

  script(src="/js/lote/buscarLote.js")