extends ../__layout/main

block content
  .container.mt-4
    h1.mb-4  B煤squeda de Ubicaciones

    // Filtros de b煤squeda
    .card.mb-4
      .card-body
        .row.g-3
          .col-md-3
            .form-floating
              input.form-control#inputNombre(type="search" placeholder="" autofocus)
              label.form-label(for="inputNombre") Nombre
          .col-md-3
            .form-floating
              input.form-control#inputTelefono(type="search" placeholder="")
              label.form-label(for="inputTelefono") Tel茅fono
          .col-md-3
            .form-floating
              select.form-select#id_provincia
                option(value="" disabled selected) Seleccione una provincia
                each provincia in provincias
                  option(value=provincia.id) #{provincia.nombre}
              label.form-label(for="id_provincia") Provincia
          .col-md-3
            .form-floating
              select.form-select#tipo
                option(value="" disabled selected) Seleccione un tipo de ubicaci贸n
                option(value="Deposito Nacional") Dep贸sito Nacional
                option(value="Distribucion") Distribuci贸n
                option(value="Deposito Provincial") Dep贸sito Provincial
                option(value="Centro Vacunacion") Centro de Vacunaci贸n
                option(value="Centro Descarte") Centro de Descarte
              label.form-label(for="tipo") Tipo de Ubicaci贸n

        .d-flex.justify-content-end.mt-3
          button#btnBuscar.btn.btn-primary Buscar
          button#btnLimpiar.btn.btn-secondary(style="margin-left: 10px;")
            i.bi.bi-x-circle.me-2
            | Limpiar 

    // Resultados de b煤squeda
    .table-responsive
      table.table.table-striped.table-hover.align-middle
        thead.table-dark
          tr
            th(scope='col') Nombre
            th(scope='col') Direcci贸n
            th(scope='col') Tel茅fono
            th(scope='col') Provincia
            th(scope='col') Tipo
            th(scope='col') Acciones
        tbody#resultadosBusqueda

    // Contenedor para paginaci贸n
    #paginacionContainer.d-flex.justify-content-center.mt-4

  script(src="/js/ubicacion/buscarUbicacion.js")